ASAAS_API_KEY=sua_chave_api_asaas
ASAAS_API_BASE_URL=https://api.asaas.com
APP_PUBLIC_URL=https://app.blutecnologias.com.br
APP_FUNCTIONS_PUBLIC_URL=https://firebase-functions.blutecnologias.com.br
ASAAS_WEBHOOK_URL=https://firebase-functions.blutecnologias.com.br/api/webhooks/asaas
ASAAS_REDIRECT_URL=https://app.blutecnologias.com.br/#/admin/assinatura/retorno
BLU_BILLING_GRACE_DAYS=7
