INFINITEPAY_HANDLE=sua_infinite_tag_sem_cifrao
INFINITEPAY_API_BASE_URL=https://api.checkout.infinitepay.io
APP_PUBLIC_URL=https://app.blutecnologias.com.br
APP_FUNCTIONS_PUBLIC_URL=https://backend.blutecnologias.com.br
INFINITEPAY_WEBHOOK_URL=https://backend.blutecnologias.com.br/api/webhooks/infinitepay
INFINITEPAY_REDIRECT_URL=https://app.blutecnologias.com.br/#/admin/assinatura/retorno
BLU_BILLING_GRACE_DAYS=7
