PAGARME_SECRET_KEY=sua_chave_secreta_pagarme
PAGARME_API_BASE_URL=https://api.pagar.me/core/v5
PAGARME_WEBHOOK_URL=https://firebase-functions.blutecnologias.com.br/api/webhooks/pagarme
PAGARME_REDIRECT_URL=https://app.blutecnologias.com.br/#/admin/assinatura/retorno
APP_PUBLIC_URL=https://app.blutecnologias.com.br
APP_FUNCTIONS_PUBLIC_URL=https://firebase-functions.blutecnologias.com.br
BLU_BILLING_GRACE_DAYS=7
